.flex {
    display: flex;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
    
}
/* NAV CSS */
.hidden
{
    display: none;
}
header{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: white;
}
.head {
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.menu {
    list-style-type: none;
    align-items: center;

    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.unexpand
{
   width: 0px!important;
   height: 0px !important;
   overflow: hidden !important;
   padding: 0px !important;
   border: 0px !important;

}

.click
{
    
    cursor: pointer;
}

#click
{
    font-size: x-large;
    cursor: pointer;
    /* top:40%;
    left:650%; */
    position: relative;

}

.searchTaskbar
{
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.menu {
    list-style-type: none;
    align-items: center;

    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.menu > li{
    display: block;
    text-align: center;
    padding: 0;
}

.menu>li>a{
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
    color: gray;
    margin: 0;
    width: 100%;
    padding: 1.2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    /* font-weight: normal; */
}

.menu>li:hover>a{
    color: #115db8;
    background-color: aliceblue;
}

.menu>li:first-child:hover>a{
    background-color: transparent;
}

.menu>li:first-child{
    padding: 0;
    width: 15%;
    height: 4rem;
    align-items: center;
}

.menu>li:nth-child(2){
    border: 0;
}

.menu>li:first-child>a{
    display: block;
    padding: 0;
    align-content: center;
    height: 4rem;
}

.menu>li>a>img{
    width: 90%;
    padding: 0;
    margin: 0;
}

.users{
    list-style-type: none;
    padding: 0;
}

.users i{
    padding: 1rem;
}

.users>li:hover{
    color:#115db8;
    background-color: aliceblue;
}

.user {
    position: relative;
}

.sub{
    background-color: rgba(235, 235, 235, 0.8);
    display: none;
    position: absolute;
    right: 20%;
    width: 10rem;
    color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 0.3rem;
}

.sub>li{
    width: 7rem;
    text-align: center;
    margin: 1.05rem;
    padding: 0.4rem;
    border: 1.2px solid #115db8;
    border-radius: 0.3rem;
    font-weight: bold;
}

.sub>li:hover{
    background-color: #b7c8da;
}

.sub>li>a{
    text-decoration: none;
    color: #115db8;
    font-size: 1rem;
    font-weight: normal;
}

.sub>li:first-child{
    margin-top: 1.5rem;
}

.sub>li:nth-child(2){
    margin-bottom: 1rem;
}
.subnoti{
    background-color: rgba(235, 235, 235, 0.8);
    display: none;
    position: absolute;
    right: 3%;
    width: 10rem;
    height: 150%;
    color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 0.3rem;
}

.subnoti>img{
    position: absolute;
    opacity: 20%;
    right:20%;
    top: 10%;
    border-radius: 60%;
    z-index: 0;
    width: 60%;
}

.subnoti>li{
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 15%;
    z-index: 100;
    position: absolute;
    color: #115db8;
}

.noti:hover .subnoti{
    display: block;
}

.subnoti::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(235, 235, 235, 0.8) transparent;
    top:-15%;
    right:0.8rem;
    position:absolute;
}

.user:hover .sub{
    display: block;
}

.sub::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(235, 235, 235, 0.8) transparent;
    top:-15%;
    right:0.3rem;
    position:absolute;
}


/* SEARCH CSS */
.search{
    justify-content: center;
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 1.5rem;
    transition: width 0.5s ease,height 0.5s ease;
    width: 24rem;
    height: 2rem;
}

.search > input{
    border: 0;
    outline: none;
    border-right: 1px solid gainsboro;
    width: 20rem;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
}

.search>button{
    border: 1px solid gray;
    padding: 0.3rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
    width: 25%;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.search>button:hover{
    border: 1px solid gray;
    filter: brightness(0.9);
}

.search>button:active{
    border: 1px solid gray;
    filter: brightness(1);
}

/* SECTION BIG BACKGROUND CSS */
.bigbackground {
    background-color: #97bdd4;
    margin: 0;
    height: 2rem;
    align-content: center;
    overflow: hidden;
    /* animation: disco linear 1s infinite; */
}
.bigbackground>p{
    color: white;
    margin: 0;
    position: relative;
    animation: move linear 10s infinite;
}

/* MAIN CSS */
.main{
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* CV */
.CVs{
    flex-wrap: wrap;
}


.cv{
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}

.cv a{
    text-decoration: none;
    color: black;
}

.cv>div{
    width: 100%;
    border: 1px solid #97bdd4;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
}

.cv>div:hover{
    border: 1px solid #115db8;
    box-shadow: 0 0 2rem 0.5rem rgba(135, 206, 250,0.2);
}

.cv .imgCV{
    width: 100%;
    background-color: #cbdde8;
    border-radius: 1rem 1rem 0 0;
    box-sizing: border-box;
    padding: 0.8rem;
    position: relative;
    margin: auto;
}

.cv .imgCV>a>img{
    width: 100%;
}

.cv>div>a>p{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* NOTE */
.imgCV{
    overflow: hidden;
}

.tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 127, 201, 0.5);
    border-radius: 1rem 0 1rem 0;
}

.tag>p{
    margin: 0;
    padding: 0.5rem;
    color: white;
}

/* CHOICE */
.choice{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent,rgba(0,0,0,0.3),rgba(0, 0, 0,0.6));
    padding-bottom: 0;
    box-sizing: border-box;
    top:100%;
}

.imgCV:hover .choice{
    animation: highup linear 0.2s;
    top:75%;
}

.choice>a>p{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    overflow: hidden;
}

.choice button{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.choice>button{
    background-color: lightgreen;
    border: 2px solid rgb(81, 147, 81);
}

.choice>a:last-child>p{
    background-color: lightcoral;
    border: 2px solid rgb(167, 88, 88);
}

/* bigImg */
.preview{
    position: fixed;
    top:0;
    margin: auto;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: none;
}

.form{
    width: 70%;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
    z-index: 1000;
    height: 100%;
    background-color: rgb(145, 207, 227);
}

.bigImg{
    width: 70%;
    overflow: auto;
    border-radius: 1rem;
}

.bigImg>img{
    width: 100%;
    height: max-content;
}

.design{
    width: 25%;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    background-color: white;
    height: 40%;
    margin: auto;
    border-radius: 1rem;
}

.color{
    border: 2px solid #97bdd4;
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.color>p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.8rem;
}

.color>button{
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.btnColor>i{
    font-size: 1rem;
    position: absolute;
    bottom: 10%;
    right: 17%;
    display: none;
}

/* #w{
    display: block !important;
} */

.buttons button{
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: gray;
}

.buttons>div{
    width: 63%;
    padding: 0.7rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 0.5rem;
    cursor: pointer;
}

.buttons>div:first-child{
    background-color: #00b14f;
}

.buttons>div:first-child a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.buttons>div:last-child{
    border: 1px solid gray;
}


/* THEME */
.theme{
    position: fixed;
    bottom: 1.7%;
    width: 10%;
    text-align: center;
    align-items: center;
    z-index: 100;
}

.theme>i{
    padding: 0.4rem;
    width: 1.5rem;
    height: fit-content;
    margin: 0.2rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.theme>i:first-child{
    color: gold;
    margin-left: 1rem;
    border: 3px solid gold;
}

.theme>i:last-child{
    color: gainsboro;
    /* box-shadow: 0 0 2rem 0.5rem gray; */
}

/* .theme>i:last-child{
    color:#307bb2 !important;
    box-shadow: 0 0 1rem 0.5rem #8fcbf9 !important;
    animation: moonOn linear 2s;
} */


/* ADS */
.ads>a{
    width: 12%;
    height: 50%;
    /* background-color: #115db8;
    color:white;
    text-align: center; */
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: fixed;
    top:20%;
}
.ads > a >img
{
    width: 100%;
    height: 100%;
}

.ads>a:first-child{
    left:0%;
}
.ads>a:nth-child(2){
    right:0%;

}

/* ICON */
.icon div a
{
    display: none;
}

.icon{
    position: fixed;
    bottom: 1rem;
    right: 1.5%
}
.icon div i{
    font-size: 2.5rem;
    color: lightskyblue;
    margin-top: 0.5rem;
}
.icon div{
    text-align: right;
}
.uy{
    border: 1px solid lightskyblue;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 10px;
    color: lightskyblue;
    margin: 0;
    align-self: self-end;
    display: none;
}
.icon>div:first-child:hover .uy{
    display:block;
}

/* Footer */
footer{
    background: white;
    width: 96%;
    padding: 2%;
}

footer>div{
    border-bottom: 2px solid whitesmoke;
}

footer>div:last-child{
    border: 0;
}

footer>div:nth-child(2)>img{
    width: 10%;
}

.partner{
    text-align: center;
}

.partner>h2{
    margin-bottom: 0;
}

.partner img{
    width: 15%;
    margin: 1rem;
    border-radius: 1rem;
}

.roles{
    padding: 2%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.contact{
    width: 100%;
}

.contact a{
    text-decoration: none;
    color:lightskyblue;
    font-weight: bold;
}

.contact>div{

    flex:1;
}

.contact>div>p{
    font-size: 1rem;
}

.contact>div:last-child>div>a{
    align-self: center;
    width: 10%;
    height: 100%;
    text-align: center;
}

.contact>div:last-child>div{
    justify-content: center;
}

.contact>div>h2{
    text-align: center;
}

.contact>div:last-child img{
    width: 50%;
}

@keyframes move{
    from {
        left:0;
    }
    to {
        left:100%;
    }
}

@keyframes highup{
    from{
        top:100%;
    }
    to{
        top:75%;
    }
}

@keyframes haoquang{
    0% {
        box-shadow: 0 0 0 0;
    }
    25% {
        box-shadow: 0 0 1rem 0.1rem;
    }
    50% {
        box-shadow: 0 0 1rem 0.2rem;
    }
    75%{
        box-shadow: 0 0 1rem 0.1rem;
    }
    100%{
        box-shadow: 0 0 0 0;
    }
}

.haoquang{
    animation:  haoquang linear 2s infinite;
}

@keyframes sunOff{
    from {
        box-shadow: 0 0 1rem 0.2rem;
    }
    to {
        box-shadow: 0 0 0 0;
    }
}

.sunOff{
    animation: sunOff linear 1s;
}

@keyframes moonOn{
    0%{
        color: 	#79c1f1;
        box-shadow: 0 0 0.2rem 0.1rem #8fcbf9;
    }
    20% {
        color:	#79c1f1;
        box-shadow: 0 0 0.4rem 0.2rem #8fcbf9;
    }
    30% {
        color:	#79c1f1;
        box-shadow: 0 0 0.6rem 0.3rem #8fcbf9;
    }
    40% {
        color:	#79c1f1;
        box-shadow: 0 0 0.8rem 0.4rem #8fcbf9;
    }
    60% {
        color:#79c1f1;
        box-shadow: 0 0 1rem 0.5rem #8fcbf9;
    }
    70% {
        color:#79c1f1;
        box-shadow: 0 0 0.8rem 0.4rem #8fcbf9;
    }
    80% {
        color:	#79c1f1;
        box-shadow: 0 0 0.6rem 0.3rem #8fcbf9;
    }
    90% {
        color:	#79c1f1;
        box-shadow: 0 0 0.4rem 0.2rem #8fcbf9;
    }
    100% {
        color:	#79c1f1;
        box-shadow: 0 0 0.2rem 0.1rem #8fcbf9;
    }
}

.moonOn{
    animation: moonOn ease-in-out 2s infinite;
}


@keyframes moonOff{
    from {
        color:#79c1f1;
        box-shadow: 0 0 1rem 0.5rem #8fcbf9;
    }
    to {
        color:gainsboro;
        box-shadow: 0 0 0 0;
    }
}

.moonOff{
    animation: moonOff ease-in-out 1s;
}

@keyframes disco{
    0% {
        background-color: red;
    }
    20% {
        background-color: yellow;
    }
    40% {
        background-color: lightskyblue;
    }
    60% {
        background-color: lightgreen;
    }
    80% {
        background-color: pink;
    }
    100%  {
        background-color: purple;
    }
}

.disco{
    animation: disco linear 0.5s infinite;
}

#close > button
{
    cursor: pointer;
}