.flex {
    display: flex;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
}

/*BLOCK*/
.main_p,.gcareer{
    display: block;
}

/* HIDDEN */
.head, .ads, .main{
    display: none;
}

/* PHONE MENU */
.phone{
    width: 100%;
    max-height: 60px;
    justify-content: space-between;
    background-color: white;
    top: 0;
    box-sizing: border-box;
    padding: 1% 2.5%;
    position: sticky;
}

.menuPhone{
    align-self: center;
    font-size: x-large;
    color: gray;
}

.logo{
    width: 30%;
    align-content: center;
    max-width: 130px;
}

.logo img{
    height: 100%;
}

.user{
    font-size: x-large;
    color: gray;
    align-self: center;
}


/* SUBMENU */
.subMenuP{
    background-color: white;
    position: sticky;
    list-style-type: none;
    padding: 4%;
    padding-top: 2%;
    box-sizing: border-box;
    margin: 0;
    top:0;
    width: 70%;
    height: 100%;
    left: 0;
    z-index: 999;
}

.subMenuP>li{
    padding-top: 4%;
    padding-bottom: 4%;
}

.subMenuP>li>i{
    text-align: center;
    width: 5%;
    padding-right: 4%;
    color: #5cade3;
}

.subMenuP>li:nth-child(8){
    border-top: 1px solid gray;
    margin-top: 5%;
    padding-top: 5%;
}

.subMenuP>li>a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 2%;
}

.subMenuP>li:first-child{
    padding-bottom: 0;
}

.subMenuP>li:first-child>i{
    font-size: x-large;
}

.subMenuP>li:nth-child(2){
    text-align: center;
}

.subMenuP>li:nth-child(2)>img{
    width: 50%;
}

.subMenuP>li:nth-child(3){
    border: 1px solid gray;
    border-radius: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 40px;
    padding: 2%;
    display: flex;
}

.subMenuP>li:nth-child(4){
    margin-top: 10%;
}

.subMenuP>li>input{
    border-radius: 2rem;
    border: 0;
    padding: 0.2rem;
    font-size: medium;
    box-sizing: border-box;
    padding-left: 3%;
    outline: none;
    width: 80%;
    background-color: transparent;
}

.subMenuP>li>button{
    border: 0;
    background-color: transparent;
}

/* LISTs CSS */
.main_p{
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding:2%;
    border-radius: 0;
    scroll-margin-top: 5rem;
}

/* INFO */
.main_p .info{
    width: 100%;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    display: block;
}

.main_p .info>div{
    margin: 0;
    padding: 1%;
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 0;
}

.main_p .info>div:first-child{
    width: 100%;
}

.main_p .info > div:last-child{
    border: 1px solid gray;
    margin: 2% 0 2% 0;
}

.main_p .image_career{
    width: 30%;
    min-height: 15vw;
    align-content: center;
    border-right: 1.5px solid gainsboro;
    text-align: center;
}

.main_p .image_career>img{
    width: 80%;
}

.main_p .info .cmp{
    width: 70%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 2%;
    padding-right: 0;
    align-items: center;
}

.main_p .info h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3% 0 3% 0;
    box-sizing: border-box;
    margin: 0;
}

.main_p .info > div>i{
    width: 4%;
}

.main_p .info p{
    margin: 0;
    padding: 0;
    padding-left: 2%;
    font-size: 1rem;
}

/* TAB */
.tab{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tab>li{
    width: 50%;
    padding: 2%;
    /* background-color: #5cade3; */
    padding-right: 6%;
    transition: border 0.2s ease-in-out, font-weight 0.2s ease-in-out;

}

.tab>li>a{
    text-decoration: none;
    color: gray;
    transition: color 0.2s ease-in-out;

}

/* Liên hệ */
.tab-content .lienhe{
    width: 100%;
    box-sizing: border-box;
    padding: 3% 1%;
    border-radius: 0 0 0.7rem 0.7rem;

}

.tab-content .lienhe>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tab-content .lienhe li{
    color: #6393b1;
    padding-bottom: 0.5rem;
}

.tab-content .lienhe a{
    font-weight: normal;
    color: black;
    padding-bottom: 0.2rem;
    text-decoration: none;
    position: relative;
}

.tab-content .lienhe>ul>li>:hover::after{
    transform: scaleX(1);
}

.tab-content .lienhe>ul>li>a::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #115db8;
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

.tab-content .lienhe>ul>li:nth-child(2)>a{
    color: #115db8;
    font-style: italic;
}


/* DETAIL */
.details{
    border: 0;
    padding: 3% 1% !important;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 0 0 0.7rem 0.7rem;

}
.lienhe
{
    background-color: whitesmoke;
}

.tab-content .details h3{
    margin: 0 !important;
    border-left: 0.5rem solid #6393b1;
}

.details ul{
    margin: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.details ol{
    margin: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.details li{
    margin: 0;
    padding: 0.3rem;
}

.details p{
    margin: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.details>p{
    padding-top: 0.3rem;
    padding-left: 1.3rem;
}

/* MORE */
.below{
    background-color: whitesmoke;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
    scroll-margin-top: 6rem;
    display: block;
    padding: 3% 0;
}

.more{
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.more .salary{
    color: brown;
}

.below h2{
    padding: 0.2rem;
    margin: 0;
    margin-left: 0;
    padding-left: 0.8rem;
    border-left: 0.5rem solid #6393b1;
}

.career{
    box-sizing: border-box;
    padding: 0.4rem;
    height: 140px;
}

.career>a{
    text-decoration: none;
    color: black;
}

.career>a>div{
    border: 1px solid #b7c8da;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
    background-color: white;
    width: 100%;
    height: 100%;
}

.career>a>div:hover{
    border: 1px solid lightskyblue;
}

.career:hover{
    background: radial-gradient(lightskyblue,transparent);
    border-radius: 1rem;
}

.career .imgcareer{
    width: 20%;
    height: 100%;
    align-self: center;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    justify-content: center;
}

/* .career .imgcareer::after{
    content: "";
    width: 0.5px;
    height: 100%;
    right: 10%;
    position: absolute;
    background-color: gainsboro;
} */

.career .imgcareer>img{
    width: 100%;
    height: fit-content;
    max-width: min-content;
    max-height: 100%;
    align-self: center;
}

.career .detail{
    width: 80%;
    box-sizing: border-box;
    padding-left: 0.5rem;
    align-self: center;
}

.name{
    font-size: 1rem;
    font-weight: bolder;
}

.detail>p{
    margin: 0;
    padding-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail>div>p{
    color: gray;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.salary{
    color: brown;
}

.detail>div{
    justify-content: space-between;
}

/* COMPANIES */
.topcmps{
    width: 100%;
    scrollbar-width: none;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    padding: 2%;
}

.topcmps>h2{
    padding-top: 0 !important;
}

.topcmps>div{
    width: 100%;
    height: max-content;
    overflow-x:scroll;
    scrollbar-width: none;
    flex-wrap: nowrap;
}

.topcmp{
    display: block;
    box-sizing: border-box;
    padding: 1%;
    justify-self: center;
    min-width: 260px;
    max-width: 260px;
    max-height: 286px;
}

.topcmp>div{
    background-color:white;
    border: 2px solid #b7c8da;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    text-align: center;
    margin: 0;
    align-content: center;
}

.topcmp>div>div{
    align-content: center;
}

.topcmp>div:hover{
    border-color: lightskyblue;
}

.topcmp:hover{
    background: radial-gradient(rgba(135, 206, 250, 0.4),transparent);
    border-radius: 1rem;
}

.imgcmp{
    height: 10rem;
    border-radius: 1rem;
    align-content: center;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.topcmp p{
    font-size: 0.9rem;
    margin: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
}

.imgcmp>img{
    width: 50%;
    border-radius: 1rem;
}

/* CHOICE */
.choice{
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(transparent,rgba(0,0,0,0.5),rgba(0, 0, 0,0.7));
    padding-bottom: 0;
    box-sizing: border-box;
    top:75%;
}

.imgCV:hover .choice{
    animation: none;
    top:75%;
}

.choice button{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.choice>button{
    background-color: lightgreen;
    border: 2px solid rgb(81, 147, 81);
}

.choice>a:last-child>p{
    background-color: lightcoral;
    border: 2px solid rgb(167, 88, 88);
}

/* bigImg */
.preview{
    position: fixed;
    top:0;
    margin: auto;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    /* display: none; */
}

.preview>p{
    position: fixed;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    top:1%;
    right: 2%;
    margin: 0;
}

.form{
    width: 90%;
    border-radius: 1rem;
    margin: auto;
    margin-top: 14%;
    z-index: 1000;
    height: 100%;
    background-color: transparent;
    display: block;
}

.bigImg{
    width: 100%;
    height: 74%;
    overflow: visible;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
}

.bigImg>img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.design{
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 0;
    background-color: whitesmoke;
    height: fit-content;
    margin: auto;
    border-radius: 0 0 1rem 1rem;
    display: flex !important;
    box-sizing: border-box;
    padding: 4% 2%;
}

.color{
    border: 2px solid #97bdd4;
    width: 40%;
    margin: auto;
    padding: 2%;
    border-radius: 2rem;
    box-sizing: border-box;
    background-color: white;
}

.color>p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.8rem;
}

.color>button{
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.buttons{
    width: 50%;
    display: flex !important;
}

.btnColor>i{
    font-size: 1rem;
    position: absolute;
    bottom: 10%;
    right: 17%;
    display: none;
}

.buttons button{
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: gray;
}

.buttons>div{
    width: 63%;
    padding: 5%;
    border-radius: 2rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    align-self: center;
}

.buttons>div:first-child{
    background-color: #00b14f;
}

.buttons>div:first-child a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.buttons>div:last-child{
    border: 1px solid gray;
}

footer{
    background: white;
    width: 100vw;
    box-sizing: border-box;
    padding: 3%;
}

.ads_p{
    display: block;
}

.ads_p>img{
    width: 100%;
}

.gcareer{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.gcareer>img{
    width: 50%;
}

footer>div{
    border-bottom: 0;
}

footer>div:last-child{
    border: 0;
}

footer>div:nth-child(2)>img{
    width: 10%;
}

.partner{
    text-align: center;
}

.partner>h2{
    margin-bottom: 0;
}

.partner img{
    width: 15%;
    margin: 1rem;
    border-radius: 1rem;
}

.roles{
    padding: 2%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.contact{
    width: 100%;
    display: block;
}

.contact a{
    text-decoration: none;
    color:lightskyblue;
    font-weight: bold;
}

.contact>div{
    border-top: 2px solid gainsboro;
    flex:1;
}

.contact>div>p{
    font-size: 1rem;
}

.contact>div:last-child>div>a{
    align-self: center;
    width: 10%;
    height: 100%;
}

.contact>div:last-child>div{
    justify-content: space-center;
    gap: 4%;
    padding-bottom: 5%;
}

.contact>div>h2{
    text-align: center;
}

.contact>div:last-child img{
    width: 80%;
}

/*THÊMW*/
.theme{
    display: block;
}

.theme{
    position: fixed;
    bottom: 1.7%;
    width: 10%;
    text-align: center;
    align-items: center;
    z-index: 100;
    left: 3%;
}

.theme>i{
    padding: 0.4rem;
    width: 1.5rem;
    height: fit-content;
    margin: 0.2rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.theme>::before{
    width: 100%;
    height: 100%;
    display: block;
}

.theme>i:first-child{
    color: gold;
    margin-left: 0;
    border: 3px solid gold;
}

.theme>i:last-child{
    color: gainsboro;
}

.active
{
    display: block!important;
}

.changeColorBright
{
     border-bottom: 0.3rem solid lightskyblue;
    font-weight: bolder;
}

.changeColorDark
{
    border-bottom: 0.3rem solid lightskyblue;
    font-weight: bolder;
}

#details,#lienhe
{
    display: none;
}


.thongBao
{
    position: fixed;
    z-index: 2000;
    width: 81%;
    height: 37%;
    text-align: center;
    border-radius: 2rem;
    background: rgba(173,216,230,0.75);
    left: 10%;
    top: 28%;
}

.thongBao img
{
    position: absolute;
    width: 50%;
    opacity: 0.3;
    text-align: center;
    left: 25%;
    top: 20%;

}
.thongBao div
{
    position: absolute;
    left: 6%;
    font-weight: bold;
    top: 43%;
    font-size: 1.4rem;
    text-wrap: nowrap;


}

.thongBao i
{
    position: absolute;
    right: 9%;
    top: 7%;
    font-size: 2rem;

    cursor: pointer;
}


@media (min-width: 660px) {
.main_p .info, .main .lienhe, .main .details{
    display: none;
}

.main{
    display: block;
}

    /* SUBMENU */
.subMenuP{
    background-color: white;
    position: fixed;
    list-style-type: none;
    padding: 4%;
    padding-top: 2%;
    box-sizing: border-box;
    margin: 0;
    top:0;
    width: 70%;
    height: 100%;
    left: 0;
    z-index: 999;
    overflow: scroll;
}

.subMenuP>li{
    padding-top: 0;
    padding-bottom: 5%;
}

.subMenuP>li>i{
    text-align: center;
    width: 5%;
    padding-right: 4%;
    color: #5cade3;
}

.subMenuP>li:nth-child(8){
    border-top: 1px solid gray;
    margin-top: 0;
    padding-top: 3%;
   
}

.subMenuP>li>a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 0.2%;
}

.subMenuP>li:first-child{
    padding-bottom: 0;
}

.subMenuP>li:first-child>i{
    font-size: x-large;
}

.subMenuP>li:nth-child(2){
    text-align: center;
}

.subMenuP>li:nth-child(2)>img{
    width: 50%;
    max-width: 130px;
}

.subMenuP>li:nth-child(3){
    border: 1px solid gray;
    border-radius: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 40px;
    padding: 2%;
    display: flex;
}

.subMenuP>li:nth-child(4){
    margin-top: 6%;
}

.subMenuP > li:nth-child(6) > a
{
    padding: 0%;
}

.subMenuP>li:last-child{
    padding: 0;
}

.subMenuP>li>input{
    border-radius: 2rem;
    border: 0;
    padding: 0.2rem;
    font-size: medium;
    box-sizing: border-box;
    padding-left: 1%;
    outline: none;
    width: 80%;
    background-color: transparent;
}

.subMenuP>li>button{
    border: 0;
    background-color: transparent;
}

/* MAIN */

.main{
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    height: fit-content;
    padding-bottom: 0;
}

.main .info{
    margin: 0;
}

.main .info p{
    padding-right: 0;
}

.main .info>div:first-child{
    width: 100%;
}

.main .info>div>div:last-child>div{
    flex-wrap: nowrap;
}


.thongBao {
    position: fixed;
    z-index: 2000;
    width: 40%;
    height: 55%;
    text-align: center;
    border-radius: 2rem;
    background: rgba(173, 216, 230, 0.75);
    left: 27%;
    top: 28%;
}

.thongBao img {
    position: absolute;
    width: 44%;
    opacity: 0.3;
    text-align: center;
    left: 25%;
    top: 20%;
}

.thongBao div {
    position: absolute;
    left: 10%;
    font-weight: bold;
    top: 45%;
    font-size: 1.4rem;
    text-wrap: nowrap;
}

/* THEME */
.theme{
    width: 7%;
}
}

.active
{
    display: block!important;
    animation: thongBaoAnimate 0.5s ease-in-out;
}

.active1
{
    display: block!important;
}


@keyframes thongBaoAnimate {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 370px;
        height: 230px;
    }
}