.flex{
    display: flex;
}

.hidden{
    display: none;
}

html{
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    background-color:white ;
    margin: 0;
}

.head{
    display: none;
}

.topjobs{
    display: none;
}

.career_details{
    display: none;
}

.ads{
    display: none;
}

.bigbackground>h2{
    display: none;
}

/* BLOCK */
.lists>h2 , .gcareer
{
    display: block;
}

/* PHONE MENU */
.phone{
    width: 100%;
    justify-content: space-between;
    background-color: white;
    top: 0;
    box-sizing: border-box;
    padding: 1% 2.5%;
    position: sticky;
}

.menuPhone{
    align-self: center;
    font-size: x-large;
    color: gray;
}

.logo{
    width: 30%;
    align-content: center;
}

.logo>img{
    width: 100%;
}

.user{
    font-size: x-large;
    color: gray;
    align-self: center;
}


/* SUBMENU */
.subMenuP{
    background-color: white;
    position: fixed;
    list-style-type: none;
    padding: 4%;
    padding-top: 2%;
    box-sizing: border-box;
    margin: 0;
    top:0;
    width: 70%;
    height: 100%;
    left: 0;
    z-index: 999;
}

.subMenuP>li{
    padding-top: 4%;
    padding-bottom: 4%;
}

.subMenuP>li>i{
    text-align: center;
    width: 5%;
    padding-right: 4%;
    color: #5cade3;
}

.subMenuP>li:nth-child(8){
    border-top: 1px solid gray;
    margin-top: 5%;
    padding-top: 5%;
}

.subMenuP>li>a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 2%;
}

.subMenuP>li:first-child{
    padding-bottom: 0;
}

.subMenuP>li:first-child>i{
    font-size: x-large;
}

.subMenuP>li:nth-child(2){
    text-align: center;
}

.subMenuP>li:nth-child(2)>img{
    width: 50%;
}

.subMenuP>li:nth-child(3){
    border: 1px solid gray;
    border-radius: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 40px;
    padding: 2%;
}

.subMenuP>li:nth-child(4){
    margin-top: 10%;
}

.subMenuP>li>input{
    border-radius: 2rem;
    border: 0;
    padding: 0.2rem;
    font-size: medium;
    box-sizing: border-box;
    padding-left: 5%;
    outline: none;
    width: 80%;
    background-color: transparent;
}

.subMenuP>li>button{
    border: 0;
    background-color: transparent;
}

/* BIGBACKGROUND */
.bigbackground{
    width: 100vw;
    padding: 8% 0;
    align-content: center;
    background: url("../images/looking-for-fh-1920x1080_1.jpg");
    box-sizing: border-box;
    margin: 0;
    display: flex;
}

.mainsearch{
    width: 90%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2% 1%;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    flex-wrap: nowrap;
}

.bigsearch{
    width: 50%;
    align-self: center;
}

.bigsearch>input{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    outline: none;
    border: 0;
    border-right: 1px solid gainsboro;
    background-color: transparent;
}

.mainsearch>div:nth-child(2){
    width: 40%;
    align-self: center;
}

.mainsearch>div:nth-child(2)>select{    
    outline: none;
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: 0;
}

.mainsearch>button:nth-child(3){
    display: none;
}

.mainsearch>button:last-child{
    display: block;
    border: 0;
    background-color: transparent;
    padding: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    border-radius: 3rem;
    align-self : center;
}

/* TOP JOBS */
.lists>h2{
    padding: 0 3%;
    margin-bottom: 3%;
    display: flex;
}

.lists{
    background-color: white;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
}

.topjobs_p{
    overflow-x:scroll;
    width: 100%;
    scrollbar-width: none;
    z-index: 1;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 2%;
}

.topjobs_p .topjob{
    /* display: block; */
    padding: 1%;
    min-width: 60vw;
}


.topjobs_p .topjob>div{
    background-color: #ebebeb98;
    text-align: center;
    border-radius: 1.5rem;
    width: 100%;
}

.topjobs_p .imgjob{
    width: 100%;
    text-align: center;
    padding-bottom: 0 !important;
}

.topjobs_p .topjob img{
    width: 70%;
    height: 10rem;
    margin: 1.5rem;
    border-radius: 50%;
    margin-bottom: 0;
    background-color: whitesmoke;
}

.topjobs_p .topjob p{
    padding-bottom: 0.7rem;
    margin: 0;
    font-size: 1rem;
}

.imgjob + div{
    height: 60px;
    display: flex; 
    align-items: center;
    min-height: 0;
    justify-content: center;
}

.topjobs_p h4{
    padding: 0.5rem;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
}

/* CAREER */
.list{
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.career{
    width: 95%;
    padding: 6px;
    max-height: 20%;
    box-sizing: border-box;
    position: relative;
    /* margin: 0.5rem 0; */
}

/* GO */
.go .underline{
    width: 100%;
    height: 1px;
    background: black;
    margin: 0;
    transform: scaleX(1);
}


/* WALLPAPER */
.wallpaper{
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: 3%;
}
.wallpaper>img{
    width: 100%;
}

/* TOPCMPS */
.topcmps{
    width: 100%;
    scrollbar-width: none;
    z-index: 1;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 2%;
}

.topcmps>h2{
    padding-top: 0 !important;
}

.topcmps>div{
    width: 100%;
    height: max-content;
    overflow-x:scroll;
    scrollbar-width: none;
    flex-wrap: nowrap;
}

.topcmp{
    display: block;
    min-width: 70%;
    box-sizing: border-box;
    padding: 2%;
    justify-self: center;
}

.topcmp>div{
    background-color:white;
    border: 2px solid #b7c8da;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    text-align: center;
    margin: 0;
    align-content: center;
}

.topcmp>div:hover{
    border-color: lightskyblue;
}

.topcmp:hover{
    background: radial-gradient(rgba(135, 206, 250, 0.4),whitesmoke)
}

.imgcmp{
    height: 10rem;
    border-radius: 1rem;
    align-content: center;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.topcmp h4{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.4rem;
}

.imgcmp>img{
    width: 50%;
    border-radius: 1rem;
}

/* ICON */
.icon{
    position: fixed;
    bottom: 1rem;
    right: 1.5%;
    z-index: 2;
}
.icon div i{
    font-size: 2.5rem;
    color: lightskyblue;
    margin-top: 0.5rem;
}

.icon div:last-child a
{
    display: none;
}

.icon div{
    text-align: right;
}
.uy{
    border: 1px solid lightskyblue;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 10px;
    color: lightskyblue;
    margin: 0;
    align-self: self-end;
    display: none;
}

/* FOOTER */
footer{
    background: white;
    width: 100vw;
    box-sizing: border-box;
    padding: 3%;
}

.ads_p{
    display: block;
}

.ads_p>img{
    width: 100%;
}

.gcareer{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.gcareer>img{
    width: 50%;
}

footer>div{
    border-bottom: 0;
}

footer>div:last-child{
    border: 0;
}

footer>div:nth-child(2)>img{
    width: 10%;
}

.partner{
    text-align: center;
}

.partner>h2{
    margin-bottom: 0;
}

.partner img{
    width: 15%;
    margin: 1rem;
    border-radius: 1rem;
}

.roles{
    padding: 2%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.contact{
    width: 100%;
    display: block;
}

.contact a{
    text-decoration: none;
    color:lightskyblue;
    font-weight: bold;
}

.contact>div{
    border-top: 2px solid gainsboro;
    flex:1;
}

.contact>div>p{
    font-size: 1rem;
}

.contact>div:last-child>div>a{
    align-self: center;
    width: 10%;
    height: 100%;
}

.contact>div:last-child>div{
    justify-content: space-center;
    gap: 4%;
    padding-bottom: 5%;
}

.contact>div>h2{
    text-align: center;
}

.contact>div:last-child img{
    width: 80%;
}

/*THÊMW*/
.theme{
    display: block;
}

.theme{
    position: fixed;
    bottom: 1.7%;
    width: 10%;
    text-align: center;
    align-items: center;
    z-index: 100;
    left: 3%;
}

.theme>i{
    padding: 0.4rem;
    width: 1.5rem;
    height: fit-content;
    margin: 0.2rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.theme>::before{
    width: 100%;
    height: 100%;
    display: block;
}

.theme>i:first-child{
    color: gold;
    margin-left: 0;
    border: 3px solid gold;
}

.theme>i:last-child{
    color: gainsboro;
}
