
.flex {
    display: flex;
}

@font-face {
    font-family: custom;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}
html {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Poppins', sans-serif;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

body {
    /*#c7f1ff*/

    background-color: whitesmoke;
    
    
    min-height: 97.7vh;
    

}

header > a > img{
    padding-top: 0.5%;
    z-index: 100; 
   
}

h2
{
    text-transform: capitalize;
    text-align: right; 
    padding: 1rem 11.5rem 0 2.5rem; 
    font-weight: bold;
    font-size: 1.8rem;
}

header
{
    text-align: center;
    
}




/* .ads > div > img
{
    width: 100%;
    height: 100%;
    bottom: 10%;
    position: relative;
} */

/* .ads > div:last-child > img
{
    width: 100%;
    height: 100%;
} */

.ads > div
{
    width: 10%;
    height: 50%;
    
    
}

.img_businessMan
{
    position: fixed;
    width: 10%;
    bottom: 1rem;
    left:1rem;
    
}

.img_businessMan + .img_businessMan
{
    left:90%;
    
}


/* NAV CSS */


.form-container
{
    background-color: white;
    position: relative;
   margin: 0 auto;
    width: 70%;
}

.anh img{
    width: 100%;
    height: 100%;
}

.anh-container
{
    position: relative;
    background-color: #115db8;
    width: 20%;
}

.anh-container > div:nth-child(2)
{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: blue;
    font-size: 1rem;
    font-weight: bold;
}

.benTrai, .benPhai
{
    position: relative;
    width: 60%;
}
.benTrai{
    width: 40%!important;
}

.right
{
    /* margin-left: 50%; */
    right: 0;
}

.form-container
{
    margin-top: 0%;
    
}

.form-group > span
{
    cursor: pointer;
}

.form-group > input
{

    width: 100%;
    padding: 0.05rem 0rem 0.05rem 0.6rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
    /* outline: none; */
    user-select: none;
    
}

.form-group 
{
    /* display: flex; */
    position: relative;
    /* right:20%; */
    margin-bottom: 1rem;
    width: 80%;
    left:15%;
}

.form-group > i
{
    position: absolute;
    right: 0.63rem;
    top: 0.6rem;
    color: black;
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chu{
    /*-14px*/
    top:0.5rem;
    left:0.5rem;
    position: absolute;
    font-size: 0.9rem;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

.conMat
{
    position: absolute;
    right: 0;
    top: 0.1rem;
    padding: 0.5rem;

    color: black!important;

}

.forms{
    padding-bottom: 10rem;
}

.bienDoiChu{
    animation: bienDoiChu 1s;
}


.bienDoiChu1{
    animation: bienDoiChu1 1s;
}

@keyframes bienDoiChu {
    from{
        font-size: 0.9rem;
        top: 0.5rem;
        left:0.5rem

    }
    to{
        font-size: 0.7rem;
        top:-16px;
        left:0;
    }
}

@keyframes bienDoiChu1 {
    from{
        

        font-size: 0.7rem;
        top:-16px;
        left:0;

    }
    to{
        font-size: 0.9rem;
        top: 0.5rem;
        left:0.5rem;
    }
}




.img-container
{
    position: relative;
    width: 100%;
    height: 100%;
    
    left:10%;
    /* height: fit-content;
    width: fit-content; */
    overflow: hidden;
}

.thangNgang
{
    position: absolute;
    border: 2px solid black;
    
    bottom: 5%;
    width: 5%;
    left:30%;
    height: 2%;
    cursor: pointer;
    opacity: 0.7;

    z-index: 100;
}

.lamMo1
{
    animation: lamMo1 1s ease-in-out;
}

.lamMo2
{
    animation: lamMo2 1s ease-in-out;
}

@keyframes lamMo1 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}

@keyframes lamMo2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}



#thanhNgang1{
    background-color: lightskyblue;
}

#thanhNgang2{
    left:37%;
    
}

#thanhNgang3{
    left:44%;
}

#thanhNgang4{
    left:51%;
}

#thanhNgang5{
    left:58%;
    
}

#img-slide
{
 
    z-index: 10;
}

#img1-slide
{
    
    z-index: 9;
}

 .img-slide
{
    width: 100%;
    height: 100%;
    position: absolute;;
    /* border-radius: 5%; */
    object-fit: cover;
} 

#dangKy
{
    width: 50%;
    height: 2.5rem;
    padding: 0.4rem;
    position: relative;
    left:30%;
    background-color: #b1d9e7;
    cursor: pointer;
    color:black;
    border:0px;
    border-radius: 2rem;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1rem;
}

#dangKy:hover
{
    filter: brightness(0.8);

}

.rightToLeft
{
    animation: rightToLeft 2s;
}

@keyframes rightToLeft {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
    
}

.leftToRight
{
    animation: leftToRight 2s;
}

@keyframes leftToRight {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
    
}

div.benTrai > div:nth-child(2)
{
    position: absolute;
   
    z-index: 100;
    bottom: -10%;
    left:35%;
    font-size: 1.1rem;
    bottom: -15%;
}

div.benTrai > a:nth-child(3)
{
    position: absolute;
    z-index: 100;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: #b1d9e7;
    padding: 0.6rem;
    bottom: -37%;
    left:44%;
    font-size: 1.1rem;
    text-align: center;
    align-self: center;
    width: 6rem;
    border-radius: 2rem;
}


div.benTrai > a:hover{
    filter: brightness(0.8);
}

#dangKy + div
{
    z-index: 100;
    position: relative; 
    left:5%; 
    padding: 1rem;
    text-align: center;
}




#googleIcon
{
    padding: 1rem;
    position: absolute; 
    left:18%; 
    width: 30%; 
    align-items: center; 
    justify-content: center;
    background-color: #e73b2f;
    color: #fff !important;
    gap:0.2rem;
    height: 0.5rem;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid black;
}

#googleIcon:hover{
    filter: brightness(0.8);
}

#facebookIcon:hover{
    filter: brightness(0.8);
    
}

#facebookIcon
{
    padding: 1rem;
    position: absolute;
    left:58%; 
    width: 30%; 
    align-items: center; 
    justify-content: center;
    background-color: #1877f2;
    color: #fff !important;
    gap:0.2rem;
    height: 0.5rem;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid black;
}


#chatBoxWelcome
{
    bottom: 40%;
    left:3%;
    align-items: center;
}

#chatBoxUT
{
    
    padding-top: 1rem;
    right: 3%;
    bottom: 50%;
}

#chatBoxUT::after
{
    content: '';
    position: absolute;
    border-width: 0.6rem;

    border-color: #97bdd4 transparent transparent transparent;
    border-style: solid;
    bottom: -18%;
    left:60%;
    rotate: -9deg;
}

.chatbox
{
    position: absolute;
    display: none;
    justify-items: center;
    border-radius: 50%;
    border: 3px solid #97bdd4;
    z-index: 100;
    width: 10rem;
    height: 5rem;
    text-align: center;
    color: black!important;
    background-color: #b1d9e7;
}

#chatBoxWelcome::after{
    content: '';
    position: absolute;
    border-width: 0.6rem;

    border-color: #97bdd4 transparent transparent transparent;
    border-style: solid;
    bottom: -22%;
    left:30%;
    rotate: 9deg;
}